* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

button,
button:focus {
  border: none;
  outline: none;
}
