.btn {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1.3px;

  &--main-color {
    background: var(--main-color);
  }

  &--big {
    @include createBtnRounded(17rem, 6rem);
  }

  &--medium {
    @include createBtnRounded(15rem, 4.8rem);
  }

  &--small {
    @include createBtnRounded(13rem, 3.6rem);
  }

  &--tiny {
    @include createBtnRounded(8.9rem, 3.6rem);
  }
}
